
nav {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 999;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(20px);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo and icons */
nav img {
  margin: 0 30px;
  width: 40px;
  height: 40px;
}

/* Menu styling with animation */
.menu {
  padding: 20px 30px;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  right: -50%; /* Ensure it's aligned with the right edge */
  top: 70px;
  border: 2px solid #fff;
  border-radius: 25px 0 0 25px;
  background: #151515;
  box-shadow: -4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: right 0.3s ease-in-out, opacity 0.3s ease-in-out;
  pointer-events: none;
  max-width: 250px; /* Set a max width to prevent overflow */
}

/* Show menu when active */
.menu.active {
  right: 0px;
  pointer-events: auto;
}

/* Menu links */
.menu a {
  color: #f0f0f0; /* Soft white */
  text-decoration: none;
  font-family: outfit;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 4px;
  transition: color 0.2s ease-in-out;
}

