:root {
  --dark-blue: #000000/* #02023e */;
  --blue: #180a7f;
  --light-blue: #00B4D8;
  --pale-blue: #90E0EF;
  --very-light-blue: #CAF0F8;
}

.bg {
  background: var(--dark-blue);
  width: 100%;
  height: 2000px;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}

nav {
  color: var(--very-light-blue);
}


button {
  background-color: #fff;
  color: #000;
}


body {
  color: #fff;
  margin: 0;
  font-family:'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

FlowingMenu {
  height: 400px;
  padding: 0 24px;
}

