:root {
  --dark-blue: #02023e;
  --blue: #180a7f;
  --light-blue: #00B4D8;
  --pale-blue: #90E0EF;
  --very-light-blue: #CAF0F8;
}


body {
  background-color: var(--very-light-blue);
  color: var(--dark-blue);
}

nav {
  color: var(--very-light-blue);
  background-color: var(--blue);
}


header {
  background-color: var(--dark-blue);
  color: white;
}

button {
  background-color: var(--light-blue);
  color: white;
}

footer {
  background-color: var(--pale-blue);
  color: var(--dark-blue);
}

body {
  margin: 0;
  font-family:'Outfit', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

